.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .preloader-animation {
    font-size: 240px;
    font-weight: bold;
    color: #333; /* You can adjust the color */
  }
  