@import url('https://fonts.cdnfonts.com/css/exo-space');

.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(15, 6, 6);
}
  
.preloader-animation {
    font-size: 240px;
    font-weight: 900;
    color: #f5f0f0; /* Adjust the color */
    font-family: 'Exo Space', sans-serif; /* Apply the Exo Space font with fallback to sans-serif */
}
  
.fill-animation {
    transition: fill 1s;
}
